# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite cache
.vite

# Local environment files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.sublime*

# Dependency directories
pnpm-lock.yaml
yarn.lock
package-lock.json

# Build output
dist/

# Optional: Ignore temporary build files
temp/
.tmp/

# Optional: Ignore coverage reports
coverage/

# Optional: Ignore TypeScript declaration files (if not using TS in the project)
*.d.ts
